.container {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

nav {
    float: left;
    width: 15%;
    height: 100%;
    padding: 1% 2%;
}

.subNav {
    float: left;
    width: 15%;
    height: 100%;
    padding: 1% 2%;
}